<h1>予約一覧</h1>

<% @reservations.each do |reservation|%>
    <div>
        <%=reservation.schedule_id%>
        <%=reservation.sheet_id%>
        <%=reservation.sheet_id%>
        <%=reservation.name%>
        <%=reservation.email%>
        <%=reservation.date%>
    </div>
<% end%>

