<h1>座席表1</h1>

<table>
    <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
    </tr>

    <% @sheets.each do |sheet|%>
        <tr>
            <td><%=sheet.column%></td>
            <td><%=sheet.column%></td>
            <td><%=sheet.column%></td>
            <td><%=sheet.column%></td>
            <td><%=sheet.column%></td>
        </tr>
    <% end%>
</table>

<h1>はは</h1>