<h1>映画情報更新</h1>

<p>上映スケジュール</p>
<% @movie.schedules.each do |schedule| %>
  <p><%= schedule.start_time.strftime("%H:%M") %>~
  <%= schedule.end_time.strftime("%H:%M") %></p>
<% end %>

<body>
    <%= form_with model:[:admin, @movie], local: true do |form| %>
        <div class=form>
            <div>
                <%= form.label :name, "映画タイトル" %>
                <%= form.text_field :name ,value:@movie.name%>
            </div>

            <div>
                <%= form.label :year, "公開年" %>
                <%= form.text_field :year ,value:@movie.year%>
            </div>

            <div>
                <%= form.label :is_showing, "上映中か" %>
                <%= form.radio_button :is_showing, 0 , checked: !(@movie.is_showing) %>上映予定<%= form.radio_button :is_showing, 1, checked: @movie.is_showing %>上映中
            </div>

            <div>
                <%= form.label :description ,"概要"%>
                <%= form.text_area :description, value:@movie.description %>   
            </div>

            <div>
                <%= form.label :image_url, "画像URL" %>
                <%= form.text_field :image_url,value:@movie.image_url %>
            </div>
        </div>

        <div>
            <!--<%= form.submit "close"%>-->
            <%= form.submit "save change"%>
        </div>
    <% end %>

    <div>
        <%= button_to "削除する", admin_movie_path(@movie.id), method: :delete, data: {confirm: "削除しますか？"} %>
    </div>

    <div>
    <%= flash[:danger] %>
    </div>

</body>