<h1>映画一覧</h1>

<%= form_with url: movies_path, method: :get, local: true do |form| %>
    <div>
        <%= form.text_field :keyword %>
        <%= form.submit '検索', name: nil %>
    </div>

    <%= form.radio_button :search_showing, :"2", checked:true %>
    <%= form.label :search_showing, "全て", {value: :"2"} %>
    <%= form.radio_button :search_showing, :"0" %>
    <%= form.label :search_showing, "上映予定", {value: :"0"} %>
    <%= form.radio_button :search_showing, :"1" %>
    <%= form.label :search_showing, "上映中", {value: :"1"} %>
<% end %>


<table>
    <tr>
        <th>ID</th>
        <th>映画タイトル</th>
        <th>公開年</th>
        <th>上映中か</th>
        <th>概要</th>
        <th>画像URL</th>
        <th>開始終了時間</th>
        <th>作成日時</th>
        <th>更新日時</th>

    </tr>

    <% @movies.each do |movie|%>
        <tr>
            <td><%=movie.id%></td>
            <td><%=movie.name%></td>
            <td><%=movie.year%></td>
            <td><%=movie.is_showing ? '上映中': '上映予定' %></td>
            <td><%=movie.description%></td>
            <td><img src="<%=movie.image_url%>" ></td>
            <td>
                <% movie.schedules.each do |schedule| %>
                    <p><%= schedule.start_time %>~<%= schedule.end_time %></p>
                <% end%>
            </td>
            <td><%=movie.created_at%></td>
            <td><%=movie.updated_at%></td>
        </tr>
    <% end%>
</table>
