<h1>座席予約ページ</h1>

<table>
    <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
    </tr>

    <% @sheets.each_slice(5) do |sheet1,sheet2,sheet3,sheet4,sheet5|%>
        <tr>
            <td> <%= link_to "#{sheet1.row}-#{sheet1.column}", new_movie_schedule_reservation_path(@movie.id, @schedule.id, sheet_id: sheet1.id, date: @date) %> </td>
            <td> <%= link_to "#{sheet2.row}-#{sheet2.column}", new_movie_schedule_reservation_path(@movie.id, @schedule.id, sheet_id: sheet2.id, date: @date) %> </td>
            <td> <%= link_to "#{sheet3.row}-#{sheet3.column}", new_movie_schedule_reservation_path(@movie.id, @schedule.id, sheet_id: sheet3.id, date: @date) %> </td>
            <td> <%= link_to "#{sheet4.row}-#{sheet4.column}", new_movie_schedule_reservation_path(@movie.id, @schedule.id, sheet_id: sheet4.id, date: @date) %> </td>
            <td> <%= link_to "#{sheet5.row}-#{sheet5.column}", new_movie_schedule_reservation_path(@movie.id, @schedule.id, sheet_id: sheet5.id, date: @date) %> </td>
        </tr>
    <% end%>
</table>
