<h1>スケジュール変更</h1>


<body>
    <%= form_with model:[:admin, @schedule], local: true do |form| %>
        <div class=form>
            <div>
                <%= form.label :start_time, "上映開始時間" %>
                <%= form.text_field :start_time ,value:@schedule.start_time.strftime("%H:%M")%>
            </div>

            <div>
                <%= form.label :end_time, "上映終了時間" %>
                <%= form.text_field :end_time ,value:@schedule.end_time.strftime("%H:%M")%>
            </div>
        </div>

        <div>
            <!--<%= form.submit "close"%>-->
            <%= form.submit "save change"%>
        </div>
    <% end %>

    <div>
        <%= button_to "削除する", admin_schedule_path(@schedule.id), method: :delete, data: {confirm: "削除しますか？"} %>
    </div>

    <div>
    <%= flash[:danger] %>
    </div>

</body>